.chefAi-Logo{
    width: 8rem;
    height: 8rem;
}
.header-div{
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 5rem 0 2rem 0;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
    background-image: url('../assets/header-bg-real.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
    
}

.header-div::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
}

.header-div h1 {
    margin-top: 3.3rem;
    color: rgb(242, 249, 252);
    text-shadow: 0 0 8px rgba(64, 210, 255, 0.6);
    position: relative;
    z-index: 1;
    font-weight: 700;
}